@font-face {
  font-family: "Inter Display";
  src: url("../fonts/InterDisplay-ExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: "Inter Display";
  src: url("../fonts/InterDisplay-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: "Inter Display";
  src: url("../fonts/InterDisplay-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Inter Display";
  src: url("../fonts/InterDisplay-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Inter Display";
  src: url("../fonts/InterDisplay-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Inter Display";
  src: url("../fonts/InterDisplay-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
