@import "mixins";

@include generate-display-classes(none, flex, block, grid);

@mixin grid($columns: 2, $gap: $STEP * 2) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  grid-gap: $gap;
}

@function getGradient() {
  @return linear-gradient(#f36dff, #8745fe 61%, #17bae5);
}

@for $i from 2 through 5 {
  .grid-#{$i} {
    @include grid($i);
  }
}

@function px-to-rem($size) {
  @return ($size / $base-font-size) * 1rem;
}

// @function px-to-vw($size, $viewport-width: 1440px) {
//   @return ($size / $viewport-width) * 100vw;
// }

// @function px-to-vw-mob($size, $viewport-width: 375px) {
//   @return ($size / $viewport-width) * 100vw;
// }
@mixin custom-media($min, $max) {
  @media screen and (min-width: $min) and (max-width: $max) {
    @content;
  }
}

@mixin min-dimension($type, $value) {
  @if $type == width {
    min-width: $value * $STEP !important;
  } @else if $type == height {
    min-height: $value * $STEP !important;
  }
}
