//colors
$black: #191a26;
$lightBlack: #20212f;
$purple: #8e35ff;
$textGray: #8b8e9a;
$grayLight: #f5f8fa;
$green: #10c38d;
$red: #fc3a20;
.text-gray {
  color: $textGray !important;
}
.text-center {
  text-align: center;
}
